<div class="container">
  <div class="border border--left"></div>
  <div class="border border--right"></div>
  
  <div class="header">
    <div class="header__logo">
      <img src="assets/images/logo.png" alt="">
      <div class="header__logo-text">
        <span id="sublime">SUBLIME</span><span id="hero">HERO</span>
      </div>
      <div class="header__logo-subtitle">
        DOJO
      </div>
    </div>
    <div class="header__title"></div>
  </div>
  <div class="content">
    <div class="info">
      <div class="info__pressed">
        <span class="info__pressed-label">You pressed</span>
        <span class="info__pressed-key">You pressed</span>
      </div>

      <div class="info__pressed info__pressed--correct">
        <span class="info__pressed-label">Correct key</span>
        <span class="info__pressed-key">??</span>
      </div>
    </div>

    <div class="shortcut">
      <h3 class="shortcut__title">Select Word</h3>
      <div class="shortcut__image">
        <img src="" alt="">
      </div>
    </div>
  </div>
</div>


